@import 'mediaquery'
@import 'mixins'

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700)
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic)
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300)

$bullshit-font: 'Playfair Display', serif
$link-font: 'Source Sans Pro', sans-serif

html, body
  height: 100%

#your-office
  height: 100%
  padding: 0
  margin: 0
  display: -webkit-box
  display: -ms-flexbox
  display: -moz-blox
  display: -webkit-flex
  display: flex

  align-items: center
  justify-content: center
  text-align: center


#bullshit
  font-family: $bullshit-font
  font-style: italic

  @include font-feature("kern", "liga", "dlig", "hlig", "cswh")

  font-language-override: normal
  font-kerning: auto
  font-synthesis: weight style

.and-another-one
  font-family: $link-font

