@import 'mediaquery'

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700)
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic)

$bullshit-font: 'Playfair Display', serif
$link-font: 'Roboto Slab', serif

html, body
  height: 100%

#your-office
  height: 100%
  padding: 0
  margin: 0
  display: -webkit-box
  display: -ms-flexbox
  display: -moz-blox
  display: -webkit-flex
  display: flex

  align-items: center
  justify-content: center


#bullshit
  font-family: $bullshit-font
  font-style: italic
  // text-align: center

.and-another-one
  font-family: $link-font
  a
    text-decoration: none

