@media all and (min-width: 960px)
  #bullshit
    font-size: 54px
    line-height: 91px
  .words span
    font-size: 18px
    line-height: 30px


@media all and (max-width: 959px) and (min-width: 600px)
  #bullshit
    font-size: 30px
    line-height: 51px
  .words span
    font-size: 16px
    line-height: 27px

@media all and (max-width: 599px) and (min-width: 320px)
  #bullshit
    font-size: 25px
    line-height: 42.5px
  .words span
    font-size: 12px
    line-height: 20px
