@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300);
@media all and (min-width: 960px) {
  /* line 2, /Users/Valerian/Projects/newfad-generator/source/stylesheets/mediaquery.sass */
  #bullshit {
    font-size: 54px;
    line-height: 91px; }

  /* line 5, /Users/Valerian/Projects/newfad-generator/source/stylesheets/mediaquery.sass */
  .words span {
    font-size: 18px;
    line-height: 30px; } }
@media all and (max-width: 959px) and (min-width: 600px) {
  /* line 11, /Users/Valerian/Projects/newfad-generator/source/stylesheets/mediaquery.sass */
  #bullshit {
    font-size: 30px;
    line-height: 51px; }

  /* line 14, /Users/Valerian/Projects/newfad-generator/source/stylesheets/mediaquery.sass */
  .words span {
    font-size: 16px;
    line-height: 27px; } }
@media all and (max-width: 599px) and (min-width: 320px) {
  /* line 19, /Users/Valerian/Projects/newfad-generator/source/stylesheets/mediaquery.sass */
  #bullshit {
    font-size: 25px;
    line-height: 42.5px; }

  /* line 22, /Users/Valerian/Projects/newfad-generator/source/stylesheets/mediaquery.sass */
  .words span {
    font-size: 12px;
    line-height: 20px; } }
/* line 11, /Users/Valerian/Projects/newfad-generator/source/stylesheets/all.sass */
html, body {
  height: 100%; }

/* line 14, /Users/Valerian/Projects/newfad-generator/source/stylesheets/all.sass */
#your-office {
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-blox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; }

/* line 29, /Users/Valerian/Projects/newfad-generator/source/stylesheets/all.sass */
#bullshit {
  font-family: "Playfair Display", serif;
  font-style: italic;
  -webkit-font-feature-settings: "kern", "liga", "dlig", "hlig", "cswh";
  -moz-font-feature-settings: "kern", "liga", "dlig", "hlig", "cswh";
  -ms-font-feature-settings: "kern", "liga", "dlig", "hlig", "cswh";
  font-feature-settings: "kern", "liga", "dlig", "hlig", "cswh";
  font-language-override: normal;
  font-kerning: auto;
  font-synthesis: weight style; }

/* line 39, /Users/Valerian/Projects/newfad-generator/source/stylesheets/all.sass */
.words {
  font-family: "Source Sans Pro", sans-serif; }
  /* line 41, /Users/Valerian/Projects/newfad-generator/source/stylesheets/all.sass */
  .words span {
    display: block; }
