#your-office
  #that-guy
    #bullshit Behavior Driven Development

    .words
      %span= link_to("Nah. Give me another one", '', id: "talkshit")
      %span= link_to("Oh shit this is cool. Let me tweet my homies about this.", "", id: 'twitterlink')


