#your-office
  #that-guy
    #bullshit Behavior Driven Development

    .and-another-one
      = link_to("Nah. Give me another one", '', id: "talkshit")
    .spread-that-thang
      = link_to("Oh shit this is cool. Let me tweet my homies about this.", "", id: 'twitterlink')


